!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %title
      SQS Accelerator
  %body
    %h3
      SQS Accelerator
      
  %p
    TODO more detail and links here
    %ul
      %li
        Make an HTTP GET request to 
        %a{:href => "/queues"}
          \/queues
        to list all queues
      %li
        Make an HTTP POST request to /queues with queue_name=newqueue to create a queue named newqueue
      %li
        Make an HTTP GET request to /queues/queuename to show info about a queue named "queuename" and to give a form to send a message
      %li
        Make an HTTP POST request to /queues/queuename to send a message
      %li
        Use your SQS credentials for HTTP auth
